.template-box {
    position:absolute;
    display:inline-block;
    padding:25px;
    border:1px dashed #000419;
    margin:15px;
    opacity:0.6;
  }
  .template-box:hover{
    -moz-box-shadow: 3px 2px 5px #999;
    -webkit-box-shadow: 3px 2px 5px #999;
    box-shadow: 3px 2px 5px #999;
  }
  .edit-button-position{
      position:absolute;
      left:0px;
      bottom:0px;
  }

  .txt-desc{
      position:absolute;
      top:0px;
      left:12px;
      font-weight:bold;
      font-size:12px;
  }
  .txt-orde{
      position:absolute;
      top:12px;
      left:12px;
  }